/*********************************Class ****************************/
.c1{
  width:200px;
  height:200px;
  padding:20px;
  background-color: rgb(214, 54, 14);
  border:solid 10px;
  
} 

.c2{
  background-color: rgb(215, 221, 219);
  margin-left:260px;
  width:200px;
  height:200px;
  border:solid 20px;
}

.c3{
  background-color: rgb(11, 207, 27);
  margin-left:500px;
  width:200px;
  height:200px;
  border:solid 10px;
}
