body {
  margin: 0;
  background-color: #fff;
  width: auto;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  color: #432C7A;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #432C7A;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #432C7A;
}

p {
  color: #432C7A;
  font-weight: bold;
}

.pro {
  border-radius: 100%;
  margin-bottom: 20px;
  width: 20%;
}

.top-container {
  background-color: #6C4AB6;
  width: auto;
  position: relative;
  padding-top: 100px;
  padding-bottom: 200px;
}

.front {
  color: #fff;
}

.middle-container {
  padding-top: 50px;
  padding-bottom: 15px;
}

.bottom-container {
  background-color: #6C4AB6;
  width: auto;
  padding-top: 30px;
  padding-bottom: 15px;
}

.first-cloud {
  position: absolute;
  right: 10%;
  top: 20px;
}

.second-cloud {
  position: absolute;
  left: 10%;
}

.skill {
  width: 70%;
  margin: 50px auto 50px auto;
}

.profile {
  padding-top: 5rem;
  ;
  line-height: 2;
}

.skill-row {
  margin: 70px auto 70px auto;
  line-height: 2;
}

.click {
  margin-top: 50px;
  margin-bottom: 20px;
}

#clk:hover {
  background-color: #6C4AB6;
}

.space {
  margin-top: 10px;
  margin-bottom: 10;
  color: white;
  font-size: 1rem;
}

/* .line {
  margin: 0 50% 0 50%;
  border: none;
  border-top: dotted;
  border-color: #6C4AB6;
  border-width: 5px;
  width: 10%;
} */