body {
  margin: 0;
  background-color: #fff9b6;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  color:red;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color:red;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:red;
}

p{
  color:#B000B9;
}

.pro{
  border-radius: 100%;
}

.top-container {
  background-color: orange;

  position: relative;
  padding-top: 100px;
}

.middle-container {
 padding-top: 50px;
 padding-bottom: 15px;
}

.bottom-container {
  background-color: #FF8243;
  padding-top: 10px;
  padding-bottom: 15px;

}

.first-cloud {
  position: absolute;
  right: 20%;
  top: 50px;
}

.second-cloud {
  position: absolute;
  bottom: 300px;
  left: 20%;
}

.click{
  background-color: orange;
}

.space{
  margin-bottom: 0;
}

.line{
  border: none;
  border-top: dotted;
  border-color: orange;
  border-width: 5px;
  width:5%;
}
