body {
  margin: 0;
  background-color: #fff9b6;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

span {
  color: blue;
  text-decoration: underline;
}

.pro{
  border-radius: 100%;
}

.top-container {
  background-color: orange;
  position: relative;
  padding-top: 100px;
  width:100%;
}

.middle-container {
  width:100%;

}

.bottom-container {
  background-color: #FF8243;
  padding-top: 5px;
  padding-bottom: 15px;
  width:100%;

}

.first-cloud {
  position: absolute;
  right: 20%;
  top: 50px;
}

.second-cloud {
  position: absolute;
  bottom: 300px;
  left: 20%;
}
.space{
  margin-bottom: 0;
}

.line{
  border: none;
  border-top: dotted;
  border-color: orange;
  border-width: 5px;
  width:5%;
}
